@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.side_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%; /* Adjust as needed */
  height: 100vh; /* Make navbar full height of viewport */
  margin-right: 20px; /* Add some space to the right of the navbar */
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.tabs {
  flex: 1;
  overflow-y: scroll;
}
.search_section {
  flex: 1;
}
.main {
  margin-left: 20%;
  margin-top: -30px;
  height: 100vh;
  background-color: aliceblue;
}
.college_time {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.welcome {
  text-align: center;
}
